# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
terraform-provider-devgraph

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Go workspace file
go.work
go.work.sum

# IDE
.idea/
*.swp
*.swo
*~
.vscode/

# OS
.DS_Store
